version: 2
jobs:
  build:
    working_directory: ~/main
    machine: true

    parallelism: 4
    steps:
      - checkout
      - run:
          command: |
            docker pull rocker/verse
            docker run --rm -p 127.0.0.1:8787:8787 -e DISABLE_AUTH=true rocker/verse
      - run:
          command: |
            Rscript -e "devtools::install_deps(dependencies = TRUE)"
      - run:
          no_output_timeout: 10m
          command: |
            if [[ $CIRCLE_NODE_INDEX == "1" ]]; then Rscript -e 'dir.create("~/.R");file.create(mv <- "~/.R/Makevars");writeLines("CXXFLAGS=-O3", mv)'; fi
            if [[ $CIRCLE_NODE_INDEX == "1" ]]; then R CMD build --no-build-vignettes . ; fi
            if [[ $CIRCLE_NODE_INDEX == "1" ]]; then R CMD check --ignore-vignettes --no-vignettes *tar.gz ; fi
      - run:
          no_output_timeout: 10m
          command: |
            if [[ $CIRCLE_NODE_INDEX == "9" ]]; then R CMD build --no-build-vignettes . ; fi
            if [[ $CIRCLE_NODE_INDEX == "9" ]]; then R CMD check --ignore-vignettes --no-vignettes *tar.gz ; fi
      - run:
          no_output_timeout: 10m
          command: |
            if [[ $CIRCLE_NODE_INDEX == "3" ]]; then R -e 'devtools::test(filter = "age_pension")';  fi
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "DESCRIPTION" }}-{{ checksum ".circleci/config.yml" }}
          paths:
            - "/usr/local/lib/R/site-library"
      - run:
          no_output_timeout: 10m
          command: |
            mkdir /root/main/artifacts
            if [[ $CIRCLE_NODE_INDEX == "0" ]]; then Rscript -e "devtools::install()" ; fi
            if [[ $CIRCLE_NODE_INDEX == "0" ]]; then Rscript -e "knitr::knit('vignettes/grattan.Rmd')" ; fi
            if [[ $CIRCLE_NODE_INDEX == "6" ]]; then Rscript -e "tryCatch(covr::codecov(line_exclusions = c('R/zzz.R', 'R/install_taxstats.R', 'R/youth_unemployment.R', 'R/utils-test.R'), quiet = FALSE), error = function(e) devtools::test())" ; fi
      - run:
          name: Check R CMD check failures
          command: |
            if [[ $CIRCLE_NODE_INDEX != "6" ]]; then Rscript -e "cat(devtools::check_failures('./grattan.Rcheck'), sep = '\n');cat('\n')" ; fi
            if [[ $CIRCLE_NODE_INDEX != "6" ]]; then Rscript -e "if (length(res <- devtools::check_failures('./grattan.Rcheck', note=FALSE))) stop(res)" ; fi
      - store_test_results:
          path: ./grattan.Rcheck/tests
      - store_artifacts:
          path: /root/main/artifacts/
          destination: artifacts
